<%- include('../layouts/header'); -%>
    <h2>Welcome to
        <%= title %>
    </h2>
    <section>
        <table class="post">
            <tr>
                <td>
                    <label for="name">name</label>
                </td>
                <td>
                    <input type="text" name="name" placeholder="name" id="name">
                </td>
            </tr>
        </table>
        <button onclick="createPost()" class="submitButton">목록 보기</button>
        <div class="busStop">

        </div>
    </section>
    <script type="text/javascript" charset="utf-8">
        function createPost() {
            var val = $('#name').val();
            var url = "/busses/busStop/" + val;
            $.ajax({
                url,
                type: 'get',
                async: false,
                success: function (retdata) {
                    var key = Object.keys(retdata[val]);
                    for(var i = 0 ; i < key.length; i ++ ) {
                        console.log(retdata[val][key[i]]);
                        var newDiv = document.createElement("div"); 
                        var newDiv2 = document.createElement("div"); 
                        // and give it some content 
                        var newContent = document.createTextNode(retdata[val][key[i]]); 
                        var newContent2 = document.createTextNode('<div>aa</div>'); 
                        // add the text node to the newly created div
                        
                        newDiv2.appendChild(newContent2);  
                        newDiv.appendChild(newDiv2);  
                        newDiv.appendChild(newContent);  

                        // add the newly created element and its content into the DOM 
                        var currentDiv = document.getElementById("busStop"); 
                        document.body.insertBefore(newDiv, currentDiv); 
                    };
                    // create a new div element 
                    
                }
            });
        }
    </script>
    <%- include('../layouts/footer'); -%>