<%- include('../layouts/header'); -%>
  <p>
    Welcome to
    <%= title %>
  </p>
  <p>
    <% messages %>
  </p>
  <div>
    <form action="/users" method="post">
      <label for="userName"></label>
      <input type="text" name="userName" placeholder="userName" id="userName">
      <br>
      <label for="user_password"></label>
      <input type="password" name="password" placeholder="password" id="password">
      <br>
      <br>
      <input type="submit" value="로그인">
    </form>
  </div>
  <br>
  <a href="/members">회원가입을 해보자</a>
  </body>

  </html>