<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div>
    <a href="/users/">login</a> /
    <a href="/users/logout" onclick="return confirm('Are you sure you want to delete this ?');">logout</a>
    <div>
      <button onclick="userDelete()">회원탈퇴</button>
    </div>
  </div>