<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div>
      <a href="/users/">login</a> / 
      <a href="/users/logout" onclick="return confirm('Are you sure you want to delete this ?');">logout</a>
      <br>
      <form action="/users/destory" method="post">
          <input type="submit" value="회원탈퇴">
        </form>
  </div>
  <p>우선 로그인 부터 합시다</p>
  <a href="/users">로그인</a>
</body>

</html>