<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div>
      <a href="/users/">login</a> / 
      <a href="/users/logout" onclick="return confirm('Are you sure you want to delete this ?');">logout</a>
      <br>
      <form action="/users/destory" method="post">
          <input type="submit" value="회원탈퇴">
        </form>
  </div>
  <p>Welcome to
    <%= title %>
  </p>
  <div class="flash">
    <%= messages %>
  </div>
  <form action="/users/join" method="post">
    <label for="userName"></label>
    <input type="text" name="userName" placeholder="userName" id="userName">
    <label for="password"></label>
    <input type="password" name="password" placeholder="password" id="password">
    <input type="submit" value="회원가입 !!">
  </form>
  <br>
  <a href="/users">로그인</a>
</body>

</html>