<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <form action="/users/login" method="post">
    <label for="userName"></label>
    <input type="text" name="userName" placeholder="userName" id="userName">
    <br>
    <label for="user_password"></label>
    <input type="password" name="password" placeholder="password" id="password">
    <br>
    <br>
    <input type="submit" value="로그인 !!">
  </form>
  <br>
  <a href="/users/join">회원가입을 해보자</a>
</body>

</html>