<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <br>
    <br>
    <a href="/users/delete" onclick="return confirm('이벤트를 삭제하시겠습니까?');">회원탈퇴</a>
    <br>
</body>

</html>