<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div>
        <a href="/users/">login</a> /
        <a href="/users/logout" onclick="return confirm('Are you sure you want to delete this ?');">logout</a>
        <br>
        <form action="/users/destory" method="post">
            <input type="submit" value="회원탈퇴">
        </form>
    </div>
    <p>Welcome to
        <%= title %>
    </p>
    <div>
            <form action="/users/page" method="post">
                <label for="date"></label>
                <input type="date" name="date" placeholder="date" id="date">
                <br>
                <label for="todo"></label>
                <input type="text" name="todo" placeholder="todo" id="todo">
                <br>
                <br>
                <input type="submit" value="글 작성 !!">
              </form>
        
    </div>
    <a href="/user/page/post"></a>
</body>

</html>