<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    function deleteUser() {
      $.ajax({
        url: "/members",
        type: 'delete',
        // dataType: 'json',
        // data: {
        //     id: $('#id').val(),
        // },
        async: false,
        success: function (retdata) {
          window.location.href = '/users';
        }
      });
    }
    function logoutUser() {
      $.ajax({
        url: "/users",
        type: 'delete',
        // dataType: 'json',
        // data: {
        //     id: $('#id').val(),
        // },
        async: false,
        success: function (retdata) {
          window.location.href = '/users';
        }
      });
    }
  </script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div>
    <% if (user) { %>
      <button onclick="logoutUser()">logout</button>
      <div>
        <button onclick="deleteUser()">회원탈퇴</button>
      </div>
      <% } else { %>
        <a href="/users/">login</a>
        <% } %>

  </div>