<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    Yuni-Q
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    function deleteUser() {
      $.ajax({
        url: "/members",
        type: 'delete',
        async: false,
        success: function (retdata) {
          window.location.href = '/users';
        }
      });
    }

    function logoutUser() {
      $.ajax({
        url: "/users",
        type: 'delete',
        async: false,
        success: function (retdata) {
          window.location.href = '/users';
        }
      });
    }
  </script>
</head>

<body>
  <div class="container">

    <header>

      <nav class="main-nav">
        <a href="/posts">
          <h1>Yuni-Q</h1>
        </a>
        <ul>
          <% if (user) { %>
          <li>
            <a href="/posts">게시판</a>
          </li>
          <!-- <li>
            <a href="/posts/create">글 작성</a>
          </li> -->
          <li>
            <a href="/busses">버스도착시간</a>
          </li>
          <!-- <li>
            <a href="/busses/create">버스정류장 등록</a>
          </li> -->
          <li>
            <a href="/busses/busStops">내정류장</a>
          </li>
          <li>
            <a href="/busses/busStop">버스도착시간</a>
          </li>
          <li>
            <button onclick="logoutUser()">logout</button>
          </li>
          <li>
            <button onclick="deleteUser()">회원탈퇴</button>
          </li>
          <% } else { %>
          <li>
            <a href="/busses/busStop">버스도착시간</a>
          </li>
          <li>
            <a href="/users/">sign_in</a>
          </li>
          <li>
            <a href="/members">sign_up</a>
          </li>
          <% } %>
        </ul>
      </nav>
      <hr>
      <main>
    </header>