<%- include('../layouts/header'); -%>
  <h2>Welcome to
    <%= title %>
  </h2>
  <div class="flash">
    <%= messages %>
  </div>
  <table class="login">
    <tr>
      <td>
        <label for="userName">userName</label>
      </td>
      <td>
        <input type="text" name="userName" placeholder="userName" id="userName">
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">password</label>
      </td>
      <td>
        <input type="password" name="password" placeholder="password" id="password">
      </td>
    </tr>

  </table>
  <button onclick="createUser()" class="submitButton">회원가입</button>
  <script type="text/javascript" charset="utf-8">
    function createUser() {
      $.ajax({
        url: "/members",
        type: 'post',
        dataType: 'json',
        data: {
          userName: $('#userName').val(),
          password: $('#password').val(),
        },
        async: false,
        success: function (retdata) {
          console.log(retdata);
          window.location.href = '/users';
        }
      });
    }
  </script>
  <%- include('../layouts/footer'); -%>